process {
    withName: 'prepare_data' {
        memory '4 GB'
        cpus 2
    }

    withName: 'run_mageck' {
        memory '8 GB'
        cpus 4
    }

    withName: 'qc_reports' {
        memory '2 GB'
        cpus 1
    }
}

docker {
    enabled = true
    image = 'biocontainers/mageck:v0.5.9--py39h9c6d1e6_0'  // Example Docker image
}
