process {
    // Set resources for 'prepare_data' process
    withName: 'prepare_data' {
        memory '4 GB'
        cpus 2
    }

    // Set resources for 'run_mageck' process
    withName: 'run_mageck' {
        memory '8 GB'
        cpus 4
    }

    // Set resources for 'qc_reports' process
    withName: 'qc_reports' {
        memory '2 GB'
        cpus 1
    }
}
